@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.main {
  @apply relative flex flex-col justify-start items-center px-4 md:px-10 py-8;
}

.page-content {
  @apply w-full relative z-10 max-w-[90rem] flex justify-start items-center flex-col mt-[4rem] md:mt-[4.5rem]
}